body {
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

.ocean {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 65vh;
    overflow: hidden;
    background-image: url(hoca20.jpg)); 
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
}
.fish {
left: 100px; top: 400px ;
position: absolute;
width: 80px; 
height: auto; 
animation: swim3 50s linear infinite ;
animation-play-state: running;
}
.fish1 {
    left: 100px; top: 400px ;
    position: absolute;
    width: 70px; 
    height:auto ; 
    animation: swim1 50s linear infinite ; 
    animation-play-state: running;
}
.fish5 {
    left: 100px; top: 400px ;
    position: absolute;
    width: 100px;
    height: auto; 
    animation: swim2 30s linear infinite;
    animation-play-state: running;
}
.fish2 {
    left: 100px; top: 400px ;
    position: absolute;
    width: 100px; 
    height:auto ; 
    animation: swim1 40s linear infinite ; 
    animation-play-state: running;
}
.fish3 {
    left: 100px; top: 400px ;
    position: absolute;
    width: 100px; 
    height:auto ;
    animation: swim4 25s linear infinite; 
    animation-play-state: running;
}
.fish4 {
    left: 100px; top: 400px ;
    position: absolute;
    width: 100px; 
    height:auto ; 
    animation: swim5 20s linear infinite; 
    animation-play-state: running;
}
.bubble1 { 
    left: 100px; top: 400px ;
    position: absolute;
    width: 7px; 
    height:auto ;
    animation: floatUp 10s linear infinite; 
    animation-play-state: running;
}
.bubble6 { 
    left: 100px; top: 400px ;
    position: absolute;
    width: 10px; 
    height:auto ; 
    animation: floatUp 12s linear infinite; 
    animation-play-state: running;
}
.bubble2 { 
    left: 100px; top: 400px ;
    position: absolute;
    width: 10px; 
    height:auto ; 
    animation: floatUp 17s linear infinite; 
    animation-play-state: running;
}
.bubble3 { 
    left: 100px; top: 400px ;
    position: absolute;
    width: 10px; 
    height:auto ; 
    animation: floatUp 20s linear infinite; 
    animation-play-state: running;
}
.bubble4 { 
    left: 100px; top: 400px ;
    position: absolute;
    width: 10px;
    height:auto ;
    animation: floatUp 25s linear infinite;
    animation-play-state: running;
}
.bubble5 { 
    left: 100px; top: 400px ;
    position: absolute;
    width: 13px; 
    height:auto ;
    animation: floatUp 30s linear infinite; 
    animation-play-state: running;
}
.bubble7 { 
    left: 100px; top: 400px ;
    position: absolute;
    width: 7px; 
    height:auto ; 
    animation: floatUp 22s linear infinite; 
    animation-play-state: running;
}
.bubble8 { 
    left: 100px; top: 400px ;
    position: absolute;
    width: 13px;
    height:auto ; 
    animation: floatUp 32s linear infinite; 
    animation-play-state: running;
}
.bubble9 { 
    left: 100px; top: 400px ;
    position: absolute;
    width: 6px; 
    height:auto ;
    animation: floatUp 35s linear infinite;
    animation-play-state: running;
}
.bubble10 { 
    left: 100px; top: 400px ;
    position: absolute;
    width: 10px; 
    height:auto ; 
    animation: floatUp 37s linear infinite;
    animation-play-state: running;
}


@keyframes floatUp {
    0% {
        transform: translateY(0);
        opacity: 0.8;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}
@keyframes swim1 {
    0% {
        left: -40px; 
        transform: scaleX(1); 
        top: 20%; 
        
    }
    50% {
        left: 100%; 
        transform: scaleX(1); 
        top: 30%;
    }
    51% {
        left: 100%; 
        transform: scaleX(-1); 
    }
    100% {
        left: -40px; 
        transform: scaleX(-1);
        top: 20%;
    }
}

@keyframes swim2 {
    0% {
        left: -60px; 
        transform: scaleX(1); 
        top: 50%; 
        
    }
    50% {
        left: 100%; 
        transform: scaleX(1); 
        top: 40%;
    }
    51% {
        left: 100%; 
        transform: scaleX(-1); 
    }
    100% {
        left: -60px; 
        transform: scaleX(-1); 
        top: 50%;
    }
}

@keyframes swim3 {
    0% {
        left: -60px; 
        transform: scaleX(1); 
        top: 70%;
    }
    50% {
        left: 100%; 
        transform: scaleX(1); 
        top: 60%;
    }
    51% {
        left: 100%; 
        transform: scaleX(-1); 
    }
    100% {
        left: -60px; 
        transform: scaleX(-1); 
        top: 70%;
    }
}

@keyframes swim4 {
    0% {
        left: -60px; 
        transform: scaleX(1); 
        top: 70%;
    }
    50% {
        left: 100%; 
        transform: scaleX(1); 
        top: 60%;
    }
    51% {
        left: 100%; 
        transform: scaleX(-1); 
    }
    100% {
        left: -60px; 
        transform: scaleX(-1); 
        top: 70%;
    }
}

@keyframes swim5 {
    0% {
        left: -60px; 
        transform: scaleX(1); 
        top: 100%;
    }
    50% {
        left: 100%; 
        transform: scaleX(1); 
        top: 60%;
    }
    51% {
        left: 100%; 
        transform: scaleX(-1);
    }
    100% {
        left: -60px; 
        transform: scaleX(-1);
        top: 20%;
    }
}